$bodyColor: #F9F9F9;
$whiteColor: #FFFFFF;
$blackColor: #1D1D1D;
$logoColor: #4EC6A6;
$logoSubColor1: #EDAD0D;
$logoSubColor2: #FF6B6B;
$logoSubColor3: #F5F4F4;
$secondaryColor: #A2DE96;
$cartImageColor: #FF947B;
$boxShadowColor: #00000029;
$subTextColor:  #131505;
$textFont: Gilroy;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
  background: $bodyColor;
  overflow-x: hidden;
}
nav{
  font-size: 18px;
  position: fixed;
  top: 0;
  z-index: 999;
  height: 80px;
  width: 1920px;
  display: flex;
  align-items: center;
  background: $whiteColor 0% 0% no-repeat padding-box;
  opacity: 1;
}

.container{
  display: flex;
  align-items: center;
  height: 80px;
  width: 100vw;
}

.logos{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0px;
  color: $blackColor;
  margin-left: -30px;
  width: 758px;
  .logo {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background-color: $logoColor;
      position: relative;
      .logo-inner{
          position: absolute;
          width: 32.06px;
          height: 41.08px;
          background-color: $whiteColor;
          border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
          top: 4.98px;
          left: 9.51px;
      }
      .logo-mini{
          position: absolute;
          border-radius: 50%;
          width: 16px;
          height: 16px;
          background: transparent linear-gradient(128deg, $logoSubColor1 0%, $logoSubColor2 100%) 0% 0% no-repeat padding-box;
          top: 24px;
          left: 17.5px;
      }
      .logo-dot{
          position: absolute;
          border-radius: 50%;
          width: 5.76px;
          height: 6.76px;
          top: 27px;
          left: 25.24px;
          transform: matrix(0.89, -0.45, 0.45, 0.89, 0, 0);
          background: $logoSubColor3 0% 0% no-repeat padding-box;
      }
  }
  
  
  .logo-name{
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: left;
      width: 108px;
      .logo-name1{
          font: normal normal normal 24px/34px Krona One;
          letter-spacing: 0px;
          color: $blackColor;
          text-transform: uppercase;
          opacity: 1;

      }
      .logo-sub{
          font: normal normal normal 16px/26px Interstate;
          margin-top: -5px;
      }
     
  }

}


.menus{
  display: flex;
  width: 1162px;
  font: normal normal normal 16px/26px Interstate;
  letter-spacing: 0px;
  color: $blackColor;
}

.menu1, .menu2{
  display: flex;
  align-items: center;
  text-align: center;
  list-style-type: none;

  .menuItem {
      margin-right: 30px;
  }
  .menuItemClick{
      color: $logoSubColor2;
      margin-right: 30px;
  }
}


.menu1{
  width: 415px;
}

.menu2{
  margin-left: 45px;
}
.menu2 button{
  width: 120px;
  height: 35px;
  border: 1px solid $blackColor;
  font: normal normal 300 10px/18px Interstate;
  letter-spacing: 0px;
  color: $blackColor;
  text-transform: uppercase;

}

.primary{
  width: 150px;
  height: 60px;
  text-transform: uppercase;
  border: none;
  font: normal normal normal 16px/26px Interstate;
  text-transform: uppercase;
}

.secondary{
  width: 150px;
  height: 60px;
  background: $secondaryColor 0% 0% no-repeat padding-box;
  text-transform: uppercase;
  border: none;
  font: normal normal normal 16px/26px Interstate;
  text-transform: uppercase;
  transition: all .5s ease;
  &:hover {
    transform: scale(1.08);
  }
}

.cart-container{
  display: flex;
  flex-direction: row;
}
.image{
  border-radius: 50%;
  width: 110px;
  height: 110px;
  z-index: 3;
  object-fit: cover;
}

.card{
  width: 180px;
  height: 90px;
  background: $whiteColor 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px $boxShadowColor;
  padding: 14px 13px 45px 26px;
  margin-left: -20px;
  margin-top: 16px;
  color: $blackColor;
  font-family: 'Raleway, Regular';

  .card-body{
      font-size: 14px;
  }

  .card-footer{
      font-size: 16px;
      display: flex;
      justify-content: space-between;
      margin-top: 12px;
      .price{
          color: $logoColor;
      }
      .cart-image{
          width: 41px;
          height: 34px;
          margin: -3px -13px 0 0;
          background: $cartImageColor 0% 0% no-repeat padding-box;
          border-radius: 100% 0 0 0;
          position: relative;
              .cart{
              height: 12px;
              position: absolute;
              top: -28px;
              left:-156px;
          }
      }
  }
  
}

.container-latest{
  display: flex;
  flex-direction: column;
  margin-top: 75.3px;
  .recipe-latest{
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  .latest{
      width: 283px;
      height: 51px;
      text-align: left;
      font: normal normal 300 44px/54px $textFont;
      letter-spacing: 0px;
      color: $subTextColor;
      line-height: 54px;
  }
  .svg-image{
      // margin-left: 50px;
      .prev{
          margin-left: 50px;
      }
      .next{
          margin-left: 50px;

      }

  }
  .cart{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 42px 52px 157px 47px;
      padding: 0 125px;   
  }

}


.dish{
  width: 115%;
  position: relative;
  top: 48px;
}

.veggy{
  width: 100%;
}

.product-container{
  background: $whiteColor 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px $boxShadowColor;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  left: 47%;
  z-index: 1000;
  width: 160px;
  height: 175px;
  padding: 15px;
}

.item{
  text-align: left;
  font: normal normal 300 16px/26px Interstate;
  letter-spacing: 0px;
  color: $blackColor;
  opacity: 1;
}


.taste{
  width: 413px;
  height: 118px;
  padding-right: 85px;
  margin-top: 12px;
  text-align: left;
  font: normal normal 300 45px/60px $textFont;
  color: $subTextColor;
  margin-bottom: 39px;
}

.taste2{
  font-size: 16px;
  width: 404px;
  height: 104px;

}

.container-shop{
  margin-top: 53px;
  display: flex;
  height: 781px;

}

.fruit{
width: 679px;
display: flex;

.fruit-pad{
  display: flex;
  justify-content: center;
  align-items: center;
}
}

.shop-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -40px;
  .recipes{
      width: 404px;
      margin-top: 55px;
      font-size: 16px;
      line-height: 26px;
  }
}


.page-content{
  display: flex;
}
.page-text{
  width: 758px;
  display: flex;
  justify-content: center;
  align-items: center;
  .text-left{
      position: absolute;
      left: 145px;
  }
}

.page-image{
  width: 1162px;
  background: #F1F7EA;
}

.lead{
  color: $blackColor;
  font: normal normal 800 55px/80px $textFont;
}

.small{
  height: 100px;
  color: $subTextColor;
  line-height: 48px;
  font-size: 38px;
  width: 317px;
}

.sub-taste{
  margin-bottom: 39px;
}




